
body {

	background-image: url("https://wallpaperscraft.com/image/laptop_macbook_iphone_apple_journal_glasses_113949_2560x1440.jpg");
	font-family: "Apple Chancery", cursive;
}

form {
	text-align: center;
}

.register-input {

	text-align: left;

}

table {
font-family: arial, sans-serif;
border-collapse: collapse;
width: 100%;
}

tr:nth-child(even) {background-color: #f2f2f2;
}

